<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'main.index' %} active {% endif %}"
                        href="{{ url_for('main.index') }}">Главная</a>
                </li>

                {% if request.endpoint == 'main.show' %}
                <li class="nav-item">
                    <span class="nav-link active">Отчет</span>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'admin.index' %} active {% endif %}"
                        href="{{ url_for('admin.index') }}">Админ</a>
                </li>
            </ul>

            <span class="navbar-text py-0">
                <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                    title="{{current_user.full_name or ''}}" data-bs-html="true"
                    data-bs-content="{{current_user.email}}<br><a href='{{url_for('auth.logout')}}'>выйти</a>">
                    <img class="person rounded-circle"
                        src="{{ current_user.picture or url_for('static', filename='images/person.png') }}"
                        alt="Person">
                </a>
            </span>
        </div>
    </div>
</nav>
