{% extends "base.html" %}
{% block content %}

<div class="container my-1">
    <div class="row">
        <div class="col">
            <h1 class="text-danger text-center">API служба не доступна.</h1>
            <p class="text-danger">
                <a href="mailto:{{ ','.join(config['ADMINS']) }}">{{ config['ADMINS'] }}</a> был уведомлён об этом
                событии. Извините за неудобство.
            </p>
            <p><a href="{{ url_for('main.index') }}">Назад</a></p>
        </div>
    </div>
</div>

{% endblock %}
